run = "npm run dev"
hidden = [".config", "package-lock.json", "tsconfig.json"]
modules = ["nodejs-18:v27-20240117-0bd73cd"]
disableGuessImports = true

[nix]
channel = "stable-22_11"

[env]
NEXT_TELEMETRY_DISABLED = "1"

[deployment]
build = ["sh", "-c", "npm run generate"]
run = ["sh", "-c", "tsx src/scripts/exportParticipants.ts"]
deploymentTarget = "scheduled"

[[ports]]
localPort = 3000
externalPort = 80
