run = "npm run dev"
entrypoint = "index.js"
modules = ["nodejs-20:v9-20231020-a3526c9"]
hidden = [".config", "package-lock.json", ".next", ".swc"]

[nix]
channel = "stable-23_05"

[env]
# https://discourse.nixos.org/t/stubborn-openssl-is-insecure-error-in-nixos-23-05/29555
NIXPKGS_ALLOW_INSECURE = "1"
NEXT_TELEMETRY_DISABLED = "1"

[deployment]
build = ["npm", "run", "deploy"]
run = ["npm", "run", "start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
