services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: ofmi_app
    command: npm run dev
    env_file: ".env.dev"
    volumes:
      - .:/app
      - shared_node_modules:/app/node_modules # TODO: I had problems with packages installing different OS for Mac
    ports:
      - "3000:3000"
    depends_on:
      - db
  db:
    image: docker.io/library/postgres:14.1-alpine #TODO: i use podman so i need to specify the docker hub url
    container_name: ofmi_db
    restart: always
    environment:
      - POSTGRES_USER=ofmi
      - POSTGRES_PASSWORD=ofmi
      - POSTGRES_DB=ofmi
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data
  studio:
    image: ofmi_app
    restart: always
    command: npm run studio
    env_file: ".env.dev"
    volumes:
      - .:/app
      - shared_node_modules:/app/node_modules
    ports:
      - "5555:5555"
    depends_on:
      - app

volumes:
  db:
    driver: local
  shared_node_modules:
