.rjsf .form-group {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.rjsf .btn {
  margin-top: 12px;
  padding: 4px;
  border: solid 2px #facc15;
  border-radius: 24px;
  width: 100%;
  background-color: #facc15;
  color: #111827;
  font-weight: bold;
}

.rjsf .btn:hover {
  background-color: #eab308;
}

.rjsf input {
  border-radius: 6px;
  padding: 4px;
  border: 1px solid lightgray;
  box-shadow: 0.5px 1px rgba(200, 200, 200, 0.3);
}

.rjsf input:focus {
  border: 1px solid purple;
}
