.mdx_table tbody tr:nth-child(-n + 5) {
  background-color: #ffecb3;
}

.mdx_table tbody tr:nth-child(n + 6):nth-child(-n + 15) {
  background-color: #c9c9c9;
}

.mdx_table tbody tr:nth-child(n + 16):nth-child(-n + 30) {
  background-color: #d6a071;
}
